<header class="header">
  <section class="headerTitle">
    <div class="header--title">
      <i class="fas fa-film header__icon"></i>
      <h1 class="header__title">Popcorn and TV</h1>
    </div>
    <section class="header--redes">
      <a href="mailto:raquelgc8@gmail.com" class="header--social" target="_blank" title="Email">
        <i class="header--social__icon fas fa-envelope"></i>
      </a>

      <a
        href="https://www.linkedin.com/in/raquelgarciacaja/"
        class="js-icon-linkedin header--social"
        target="_blank"
        title="Linkedin"
      >
        <i class="header--social__icon fab fa-linkedin-in"></i>
      </a>
      <a
        href="https://github.com/RaquelGarciaCaja"
        class="js-icon-github header--social"
        target="_blank"
        title="Github"
      >
        <i class="header--social__icon fab fa-github"></i>
      </a>
    </section>
  </section>
  <form action="" class="main__form">
    <label for="" class="main__form--text">Busca por nombre: </label>
    <input type="text" class="main__form--input js-input" placeholder=" Ej: fringe" />
    <input type="button" value="Buscar" class="main__form--button js-button" />
  </form>
</header>
