  <!-- <section class="main"> -->

  <section class="main-form main">
    
    <div class="main-form__list">
      <div class="main__popcorn js-popcorn">
        <p class="main__popcorn--title">Búsca y quédate con las mejores</p>
        <p class="main__popcorn--slogan">Bienvenido a</p>
        <div class=" main__popcorn--slogan">Popcorn and TV</div>
        <div class="main__popcorn--signIn">
          <input type="button" value="Registrarse" class="main__popcorn--btn js-popBtn">
          <input type="button" value="Iniciar sesión" class="main__popcorn--btn js-popBtn">
        </div>
      </div>
      <ul class="main__list js-main__list">
        <!-- aqui van las pelis/series -->
      </ul>
    </div>

    <div class="main__aside">
      <div class="main__aside-box">
        <i class="far fa-star main__aside--start"></i>
        <h3 class="main__aside--title">Favoritos</h3>
      </div>

      <div><input class="reset js-reset" value="Borrar" type="button" /></div>
      <ul class="main__aside--fav js-main__aside--fav">
        <!-- aqui van los favoritos -->
      </ul>
    </div>
  </section>
  <!-- </section> -->
</main>
